<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
</head>
<body>
<nav>
<a href="/index">FlaskApp</a>
<a href="/about">About</a>
</nav>
<hr>
<div class="content">
{% block content %} {% endblock %}
</div>
<h1 align="center">Ввод запроса</h1>
    <form align="center" action="/pars" method="get" >
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>{{ form.submit()}}</p>
    </form>
</body>



